<h2>Editar mis datos</h2>

<%= form_for @user, url: { action: "update", controller: "users" } do |f| %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :rut_o_pasaporte %><br />
    <%= f.text_field :document_id %>
  </div>

  <div class="field">
    <%= collection_select(:user, :profesion_id, Profesion.all,
                  :id, :name,
                {:prompt => 'Selecciona tu profesión'}) %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
