<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_select(:appointment, :service_id, Service.all,
                  :id, :name,
                 {:prompt => 'Selecciona un servicio'}) %>
  </div>

  <div class="field">
    <%= collection_select(:appointment, :avaible_hour_id, AvaibleHour.all,
                  :id, :time,
                 {:prompt => 'Selecciona una hora de atención'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
